@font-face {
    font-family: "allura";
    src: url(../assets/fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

$fontStyle: allura, serif;
$fontTitle: poppins, serif;
$fontP: roboto, sans-serif;

$white1: rgb(249, 247, 247);
$white2: rgb(199, 199, 199);
$black1: black;
$brown: rgb(38, 36, 36);
$orange: rgb(150, 103, 17);